<div class="card">

  <img src="{{this.img}}" alt="Image of {{this.name}} album" />

  <div class="card-name">

    <p>{{this.name}}</p>
    <a href="/tracks/{{this.albumId}}">View Tracks</a>

  </div>

</div>
