<div class="card">


  <img src="{{this.img}}" alt="Image of {{this.name}} artist" />

  <div class="card-name">

    <p>{{this.name}}</p>
    <a href="/albums/{{this.artistId}}">View Albums</a>

  </div>

</div>