<div id="main-screen">

  <div>

    <form action="/artist-search" , method="GET">

      <div id="search-button">
        <input id="search-input" type="text" name="name" />

        <button id="button" type="submit">Search for an Artist</button>

      </div>

    </form>

  </div>

</div>