* {
  margin: 0;
  padding: 0;
}

#main-screen {
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}
